*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    --border-radius: 1.875rem; /* 30px */

    --spacing-sm: 0.625rem; /* 10px */
    --spacing-md: 1.25rem; /* 20px */
    --spacing-lg: 2.5rem; /* 40px */

    --color-white: hsl(0, 0%, 100%);

    --results-circle-width: 8.75rem;
    --box-opacity: 10%;
}

body {
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100svh;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.results__title,
.summary__title {
    font-size: 1.125rem;
    margin: 0 0 var(--spacing-md) 0;
}

.results {
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    color: var(--color-white);
    padding: var(--spacing-md) var(--spacing-lg) var(--spacing-lg) var(--spacing-lg);
    text-align: center;
}

.results__title {
    color: hsl(241, 100%, 89%);
}

.results__score {
    align-items: center;
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    height: var(--results-circle-width);
    justify-content: center;
    margin: var(--spacing-md) auto;
    width: var(--results-circle-width);
}

.results__score-lg {
    font-size: 3.375rem;
    font-weight: 700;
}

.results__score-sm {
    color: hsl(221, 100%, 96%, 50%);
    font-size: 1rem;
    font-weight: 700;
}

.results__secondary {
    font-size: 1.5rem;
    margin: var(--spacing-sm) 0;
}

.results__desc {
    color: hsl(241, 100%, 89%);
    font-size: 1rem;
}

.summary {
    color: hsl(224, 30%, 27%);
    font-size: 1rem;
    padding: var(--spacing-md) calc(var(--spacing-sm) * 3);
}

.summary__title {}

.summary__box {
    align-items: center;
    background: hsla(234, 85%, 45%, var(--box-opacity));
    border-radius: 0.5rem;
    color: hsl(234, 85%, 45%);
    display: flex;
    font-weight: 700;
    margin: 0.9375rem 0;
    padding: 0.9375rem;
}

.summary__box-icon {
    background-size: contain;
    flex: 0 0 auto;
    height: 1.125rem;
    margin-right: var(--spacing-sm);
    width: 1.125rem;
}

.summary__box-title {
    flex: 0 1 auto;
}

.summary__box-score {
    color: hsla(224, 30%, 27%, 50%);
    flex: 1 0 auto;
    text-align: right;
}

.summary__box--red {
    background: hsla(0, 100%, 67%, var(--box-opacity));
    color: hsl(0, 100%, 67%)
}

.summary__box--red .summary__box-icon {
    background-image: url("assets/images/icon-reaction.svg");
}

.summary__box--yellow {
    background: hsla(39, 100%, 56%, var(--box-opacity));
    color: hsl(39, 100%, 56%);
}

.summary__box--yellow .summary__box-icon {
    background-image: url("assets/images/icon-memory.svg");
}

.summary__box--green {
    background: hsla(166, 100%, 37%, var(--box-opacity));
    color: hsl(166, 100%, 37%);
}

.summary__box--green .summary__box-icon {
    background-image: url("assets/images/icon-verbal.svg");
}

.summary__box--blue {}

.summary__box--blue .summary__box-icon {
    background-image: url("assets/images/icon-visual.svg");
}

.btn {
    background: hsl(224, 30%, 27%);
    font-size: 1rem;
    border: 0;
    padding: var(--spacing-md);
    width: 100%;
    margin-top: var(--spacing-sm);
    color: var(--color-white);
    line-height: 1;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

/* Utils */

.your-score {
    color: hsla(224, 30%, 27%)
}

/* Media queries */

@media screen and (min-width: 50em) {
    body  {
        align-items: center;
    }

    .container {
        flex-direction: row;
        background-color: var(--color-white);
        box-shadow: 0 10px 18px -6px rgba(0, 0, 0, 50%);
        border-radius: var(--border-radius);
        max-width: 45.625em;
    }

    .results,
    .summary {
        flex: 0 1 50%;
        padding: var(--spacing-lg);
    }

    .results {
        border-radius: var(--border-radius);
    }

    .results__title,
    .summary__title {
        font-size: 1.375rem;
    }

    .results__score {
        --results-circle-width: 12.5rem;
    }

    .results__score-lg {
        font-size: 4.625rem;
    }

    .results__secondary {
        font-size: 2rem;
    }

    .results__desc {
        font-size: 1.125rem;
    }
}
